{%extends "base.html"%}

{% block content %}

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	    	
<div>
	</ul>
	{% endif %}


	

    <div class="jumbotron">
  <h1 class="display-3">Welcome All</h1>
  <p>Loook where it will endup.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'create'%}" role="button">create</a>
  </p>
</div>

<div class="row">
	{% for item in post_items %}
    <div class="col-sm-12 col-md-4 col-lg-3 d-flex justify-content-around">
        <div class="card" style="width: 20rem;">
            {% if item.img %}
                <img class="card-img-top" src="{{item.img.url}}" alt="Card image cap">
            {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{item.title}}</h4>
            <p class="card-text">{{item.content}}</p>
            <p class="card-text">{{item.id}}</p>
            <p class="card-text">{{item.author}}</p>  
            <a href="{% url 'update' post_slug=item.slug%}" class="btn btn-primary">update</a>
            <a href="{% url 'delete' post_slug=item.slug%}" class="btn btn-primary">delete</a>

          </div>
        </div>
    </div>
	{%endfor%}
</div>


	<div class="pagination">
	    <span class="step-links">
	        {% if post_items.has_previous %}
	            <a href="?page={{ post_items.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ post_items.number }} of {{ post_items.paginator.num_pages }}.
	        </span>

	        {% if post_items.has_next %}
	            <a href="?page={{ post_items.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>

{% endblock content %}



