{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
	Login 
{% endblock title %}


{% block content %}

	<form action ="{% url 'log_in' %}" method="POST"> 
		{%csrf_token%}
		{{form|crispy}}
		<input class="btn btn-success" value="  Login  " type="submit">
		<a href="{% url 'github_login' %}" class="btn btn-dark"><i class="fa fa-github" aria-hidden="true"></i> Login with Github</a>
		<a href="{% url 'twitter_login' %}" class="btn btn-info"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Github</a>
		<a href="{% url 'instagram_login' %}" class="btn btn-danger"><i class="fa fa-instagram" aria-hidden="true"></i> Login with insta</a>


	</form>
{% endblock content %}